<p>Enter Flickr ID: </p>
<%= form_with(url: "/pages", method: "get") do |f| %>
  <% f.label :flickr_id %>
  <%= f.text_field :flickr_id %>
  <%= f.submit 'Search' %>
<% end %>

<% if @photos.nil? %>
  <% elsif @photos.none? %>
  <p>No photos found.</p>
  <% else %>
  <% @photos.each do |photo| %>
    <%= image_tag "http://farm#{photo.farm}.staticflickr.com/#{photo.server}/#{photo.id}_#{photo.secret}.jpg" %>
  <% end %>
<% end %>